[user]
	name = yamosan
	email = yamorimasato@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	aliases = config --get-regexp ^alias\\.
	br = branch
	st = status
	co = checkout
	cm = commit -m
	amend = commit --amend -m
  reamend = commit --amend -C HEAD
	diffc = diff --cached
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lga = lg --all
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ > .gitignore ;}; gi"
[pull "main"]
	rebase = true
[init]
	defaultBranch = main
